# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environnement
.env
.env.*.local
.env.local

# Dossiers de dépendances
node_modules
dist
dist-ssr
venv/ # Ajout du dossier venv

# Fichiers locaux
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/ # Ajout du dossier __pycache__
*.pyc # Ajout des fichiers .pyc

# Autres
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# package-lock.json # Ajout de package-lock.json
# A ajouter si problèmes de dépendances entre les machines
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!